<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Categorías Gramaticales</title>
</head>
<body>
<h2>CATEGORÍAS</h2>
<table>
    <tr>
        <th>
            Categoría
        </th>
        <th>
            Nº patrones
        </th>
        <th>
            Nº inflexiones
        </th>
    </tr>
    <tr th:each="category:${categories}" >
        <td>
            <a th:href="@{/categories/detail/{id}(id = ${category.getId()})}" $>
                <span th:text="${category.getName()}"/>
            </a>
        </td>
        <td th:text="${category.getPatterns().size()}">
        <td th:text="${category.getInflectionsNames().size()}">
    </tr>
    <tr>
        <td colspan="3">
            <button>
                <a th:href="@{/categories/new}">
                    Nueva Categoría
                </a>
            </button>
        </td>
    </tr>
</table>
<script>
</script>
</body>
</html>