<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Consultar Categorías</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
<h1>Listado de Categorías Gramaticales</h1>
<table>
    <tr>
        <th>
            Categoría
        </th>
        <th>
            Idioma
        </th>
        <th>
            Nº patrones
        </th>
        <th>
            Nº inflexiones
        </th>
        <th>
            Acciones
        </th>
    </tr>
    <tr>
        <td colspan="5">
            <button>
                <a th:href="@{/manage/{user}/categories/new(user = ${user})}">
                    Nueva Categoría
                </a>
            </button>
        </td>
    </tr>
    <tr th:each="category:${categories}" th:id="'row' + ${category.getId()}">
        <td>
            <span th:text="${category.getName()}"/>
        </td>
        <td>
            <span th:text="${category.getLanguage()}"/>
        </td>
        <td th:text="${category.getPatterns().size()}">
        <td th:text="${category.getInflectionsNames().size()}">
        <td>

            <a th:href="@{/manage/{user}/categories/{id}(user = ${user}, id = ${category.getId()})}"$>
                <button>
                Detalles
            </button>
            </a>

            <button th:onclick="'removeCategory(' + ${category.getId()} + ')'">
                Eliminar
            </button>
        </td>

    </tr>
</table>
</div>
<script>
    async function removeCategory(id){
        if (confirm("Está seguro de que quiere eliminar la categoría? Todos los patrones e inflexiones de esta se eliminarán también")) {
            const response = await fetch('http://localhost:8081/categories/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id
                })
            });
            if (response.ok){
                alert("Se ha eliminado correctamente");
                document.getElementById("row"+id).remove();

            } else {
                alert("No se ha podido eliminar la categoría. Es posible que haya palabras con esta categoría");
            }
        }
    }

    function volver(){
        window.location.href = "/menu";
    }
</script>
</body>
</html>