<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Conjuntos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class ="container">
        <div th:replace="fragments/nav :: nav"></div>
        <h2>
            Listado de Conjuntos
        </h2>
        <div class="decks">
            <a th:href="@{/manage/{user}/decks/{id}(user = ${ownerId}, id = ${deck.getId()})}" th:each="deck: ${decks}">
                    <div >
                        <span th:text="${deck.name}"/>
                    </div>
            </a>
            <a  th:href="@{/manage/{user}/decks/new(user = ${ownerId})}">
                <div class="newDeck">
                    <span th:text="'Nuevo'"/>
                </div>
            </a>
        </div>
    </div>
<script>
    function volver(){
        window.location.href = "/menu";
    }
</script>
</body>
</html>