<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label for="deckName" th:text="'Nombre: '"/>
    <input id="deckName" type = "text" onchange="activateButton('grabarCambios')" th:value="${deck.getName()}">
    <br/>
    <label for="deckLanguage" th:text="'Idioma: '"/>
    <input id="deckLanguage" type = "text" onchange="activateButton('grabarCambios')" th:value="${deck.getLanguage()}">
    <br/>
    <input id="deckId" type="hidden" th:value="${deck.getId()}"/>
    <input id="ownerId" type="hidden" th:value="${owner}"/>

    <div th:if="${deck.getId() == null}">
        <button onclick="create()">
            Guardar
        </button>
    </div>

    <div th:if="${deck.getId()!= null}">
        <button id="grabarCambios" onclick="update()" disabled>
            Grabar Cambios
        </button>
        <br/>
        <h2 th:text="Words"/>
        <table id="words">
            <tr>
                <th>Palabra</th>
                <th>Significado</th>
                <th>Nivel</th>
                <th>Categoria</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>
                    <input id="newWord" name="word" type="text"/>
                </td>
                <td>
                    <input id="newMeaning" name="meaning" type="text"/>
                </td>
                <td>
                    <input id="newLevel" name="level" type="number"/>
                </td>
                <td>
                        <button onclick="addWord()">
                            Añadir
                        </button>
                </td>
            </tr>
            <tr th:each="word :${deck.getWords()}" th:id="'row' + ${word.getId()}">
                <td >
                    <input th:id="'id' + ${word.getId()}" type="hidden" th:value="${word.getId()}">
                    <input th:id="'word' + ${word.getId()}" th:onchange="'activateWordButton(' + ${word.getId()} + ')'" type="text" th:value="${word.getWord()}"/>
                </td>
                <td >
                    <input th:id="'meaning' + ${word.getId()}" th:onchange="'activateWordButton(' + ${word.getId()} + ')'" type="text" th:value="${word.getMeaning()}"/>
                </td>
                <td >
                    <input th:id="'level' + ${word.getId()}" th:onchange="'activateWordButton(' + ${word.getId()} + ')'" type="number" th:value="${word.getLevel()}"/>
                </td>
                <td>
                    <button th:id="'saveWord' + ${word.getId()}" th:onclick="'updateWord(' + ${word.getId()} + ')'" th:disabled="'disabled'">
                        Grabar Cambios
                    </button>
                    <button th:onclick="'seeWord(' + ${word.getId()} + ')'">
                        Detalles
                    </button>
                    <button th:onclick="'deleteWord(' + ${word.getId()} + ')'">
                        Eliminar
                    </button>
                </td>
            </tr>
        </table>
    <h2 th:text="'Frases'"/>
    <table id="phrases">
        <tr>
            <th>Phrase</th>
            <th>Tiene Reglas de Sustitución?</th>
        </tr>
        <tr>

        </tr>
        <tr th:each="phrase:${deck.getPhrases()}">
            <td >
                <a th:href="@{/phrases/detail/{id}(id = ${phrase.getId()})}">
                    <span th:text="${phrase.getPhrase()}"/>
                </a>
            </td>
            <td th:text="${phrase.getSubstitutionRules().size()>0?'Sí':'No'}"/>
        </tr>
    </table>
    <h2 th:text="'Alumnos'"/>
    <table id="users">
        <tr>
            <th>Email</th>
            <th>Nivel</th>
            <th>Acción</th>
        </tr>
        <tr>
        <tr>
            <td>
                <input id="newUser" type="text">
            </td>
            <th><input id ="newUserLevel" value="1" type="number"></th>
            <th>
                <button onclick="addUser()">
                    Añadir
                </button>
            </th>
        </tr>
        </tr>
        <tr th:each="user:${users}" th:id="'rowUser' + ${user.getUser().getId()}">

            <td>
                <span th:id="'user' + ${user.getUser().getId()}"  th:text="${user.getUser().getEmail()}"/>
            </td>
            <td >
                <input th:id="'userLevel' + ${user.getUser().getId()}" th:onchange="'activateUserButton(' + ${user.getUser().getId()} + ')'" type="number" th:value="${user.getLevel()}"/>
            </td>
            <td>
                <button th:id="'saveUser' + ${user.getUser().getId()}" th:onclick="'updateUser(' + ${user.getUser().getId()} + ')'" th:disabled="'disabled'">
                    Grabar Cambios
                </button>
                <button th:onclick="'removeUser(' + ${user.getUser().getId()} + ')'">
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
    </div>
<script>
    async function addUser(){

        const email = document.getElementById("newUser").value;
        const deck = document.getElementById("deckId").value;
        const level = document.getElementById("newUserLevel").value;;
        const response = await fetch('http://localhost:8081/decks/users/add', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userEmail: email,
                deckId: deck,
                level: level
            })
        });

        if (response.ok){
            window.location.reload();
        } else {
            alert("No se ha podido añadir al usuario")
        }
    }

    async function addWord(){
        const deckId = document.getElementById("deckId").value;
        const word = document.getElementById("newWord").value;
        const meaning = document.getElementById("newMeaning").value;
        const level = document.getElementById("newLevel").value;
        const response = await fetch('http://localhost:8081/words/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                word: word,
                meaning: meaning,
                deckId: deckId,
                level: level
            })
        })

        if (response.ok){
            window.location.reload();
        }

    }

    function seeWord(id){
        window.location.replace("/words/detail/" + id);
    }

    async function updateWord(id){
        const word = document.getElementById("word" + id).value;
        const meaning = document.getElementById("meaning" + id).value;
        const level = document.getElementById("level" + id).value;
        const response = await fetch('http://localhost:8081/words/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                word: word,
                meaning: meaning,
                level: level
            })
        });

        if (response.ok){
            alert("Se ha modificado correctamente");
            deactivateButton("saveWord" + id);
        } else {
            alert("No se ha podido modificar")
        }
    }

    async function deleteWord(id){
        if (confirm("Está seguro de que quiere eliminar la palabra?")) {
            const response = await fetch('http://localhost:8081/words/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                })
            });
            if (response.ok){
                alert("Se ha eliminado correctamente");
                document.getElementById("row"+id).remove();

            } else {
                alert("No se ha podido eliminar la palabra. Error: " + response.status)
            }
        }
    }

    async function updateUser(id){
        const email = document.getElementById("user" + id).textContent;
        const level = document.getElementById("userLevel" + id).value;
        const deckId = document.getElementById("deckId").value;
        const response = await fetch('http://localhost:8081/decks/users/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userEmail: email,
                deckId: deckId,
                level: level
            })
        });

        if (response.ok){
            alert("Se ha modificado correctamente");
            deactivateButton("saveUser" + id);
        } else {
            alert("No se ha podido modificar")
        }
    }

    async function create(){
        const owner = document.getElementById("ownerId").value;
        const name = document.getElementById("deckName").value;
        const language = document.getElementById("deckLanguage").value;
        const response = await fetch('http://localhost:8081/decks/new' , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                owner: owner,
                name: name,
                language: language
            })
        });

        if (response.ok){
            const newDeck = await response.json();
            alert(JSON.stringify(newDeck));
            window.location.replace("/decks/" + newDeck.id);
        } else {
            alert("No se ha podido guardar el conjunto," + response.status);
        }
    }

    async function update(){
        const deck = document.getElementById("deckId").value;
        const name = document.getElementById("deckName").value;
        const language = document.getElementById("deckLanguage").value;
        const response = await fetch('http://localhost:8081/decks/update' , {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: deck,
                name: name,
                language: language
            })
        });

        if (response.ok){
            const newDeck = await response.json();
            alert(JSON.stringify(newDeck));
            window.location.replace("/decks/" + newDeck.id);
        } else {
            alert("No se ha podido modificar el conjunto," + response.status);
        }
    }



    function activateButton(id){
        const button = document.getElementById(id);
        button.disabled = false;
    }

    function deactivateButton(id){
        const button = document.getElementById(id);
        button.disabled = true;
    }

    function activateWordButton(id){
        activateButton("saveWord" + id);
    }

    function activateUserButton(id){
        activateButton("saveUser" + id);
    }
</script>
</body>
</html>