<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <form action="/login/submit" method="post">
        <label for="email">Email: </label>
        <input name="email" type="text" id="email">
        <br/>
        <label for="password">Contraseña: </label>
        <input name="password" type="password" id="password">
        <br/>
        <span id="message" th:text="${message}">
        </span>
        <br/>
        <button type="submit" >
            Iniciar Sesión
        </button>
    </form>

<script>
</script>
</body>
</html>