<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Detalles de patrón</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <h2>Detalles de patrón de inflexión:</h2>
    <form>
        <input id="idCategory" type="hidden" th:value="${categoryId}">
        <input id="loggedUser" type="hidden" th:value="${user}">
        <label th:for="'name'" th:text="'Nombre: '"/>
        <input th:id="'name'" th:type="text" th:value="${pattern.getName()}">
        <br/>
        <label th:for="'pat'" th:text="'Patrón: '"/>
        <input th:id="'pat'" th:type="text" th:value="${pattern.getPattern()}">
    </form>

    <button th:if="${pattern.getId() == null}" onclick="create()">
        Guardar
    </button>

    <div th:if="${pattern.getId() != null}">
        <button  onclick="save()">
            Grabar Cambios
        </button>
        <h3>
            Inflexiones
        </h3>
        <table>
            <tr>
                <th>
                    Nombre de Inflexión
                </th>
                <th>
                    Modo de Inflexión
                </th>
                <th>
                    Afijo de inflexión
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            <tr th:each="inflexion,iterStat :${pattern.getInflections()}" >

                <td th:text="${inflexion.getInflection()}">

                </td>
                <td>
                    <select th:id="'mode' + ${inflexion.getId()}" th:onchange="'activateButton(' + ${inflexion.getId()} + ')'">
                        <option th:each="modo : ${modos}"
                                th:value="${modo}"
                                th:text="${modo.getDescription()}"
                        th:selected="${modo} == ${inflexion.getMode()}">
                        </option>
                    </select>
                </td>
                <td >
                    <input th:id="'id' + ${inflexion.getId()}" type="hidden" th:value="${inflexion.getId()}">
                    <input th:id="'affix' + ${inflexion.getId()}" th:onchange="'activateButton(' + ${inflexion.getId()} + ')'" type="text" th:value="${inflexion.getAffix()}"/>
                </td>
                <td>
                    <button th:id="'save' + ${inflexion.getId()}" th:onclick="'saveInflection(' + ${inflexion.getId()} + ')'" th:disabled="'disabled'">
                        Guardar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    async function create(){

        const name = document.getElementById("name").value;
        const pattern = document.getElementById("pat").value;
        const cat = document.getElementById("idCategory").value;
        const response = await fetch('http://localhost:8081/patterns/new/' + cat, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                pattern: pattern
            })
        })

        if (response.ok){
            const pattern = await response.json();
            const user = document.getElementById("loggedUser").value;
            window.location.replace("/manage/" + user + "/patterns/detail/" + pattern.id);
        } else {
            alert("No se ha podido crear el patrón: " + JSON.stringify(response.status))
        }

    }

    async function save(){

        const name = document.getElementById("name").value;
        const pattern = document.getElementById("pat").value;
        const id = document.getElementById("idCategory").value;
        const response = await fetch('http://localhost:8081/patterns/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                name: name,
                pattern: pattern
            })
        })

        if (response.ok){
            alert("Se ha modificado el patrón correctamente")
            const pattern = await response.json()
            window.location.replace("/patterns/detail/" + pattern.id)
        } else {
            alert("No se ha podido crear el patrón: " + JSON.stringify(response.status))
        }

    }

    function activateButton(index){
        const button = document.getElementById("save"+index);
        button.disabled = false;
    }

    async function saveInflection(id){
        const affix = document.getElementById("affix"+id).value;
        const mode = document.getElementById("mode" +id).value;
        const response = await fetch('http://localhost:8081/inflections/update/' + id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                affix: affix,
                mode: mode
            })
        })

        if (response.ok){
            const button = document.getElementById("save"+id);
            button.disabled = true;
        } else {
            alert("No se ha podido modificar la inflexión: " + JSON.stringify(response.status))
        }
    }
</script>

</body>
</html>