<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Detalle de Frase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="container">

    <h1>Detalle de Frase</h1>
    <div class="modal fade" id="infoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Frases alternativas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
            </div>
        </div>
    </div>
    <form>
        <input th:id="'deckId'" type="hidden" th:value="${deckId}">
        <input id="loggedUser" type="hidden" th:value="${user}">
        <input id="id" type="hidden" th:value="${phrase.getId()}">
        <label th:for="'phrase'" th:text="'Frase: '"/>
        <input th:id="'phrase'" th:type="'text'" th:value="${phrase.getPhrase()}">
        <br/>
        <label th:for="'meaning'" th:text="'Idioma: '"/>
        <input th:id="'meaning'" th:type="'text'" th:value="${phrase.getMeaning()}">
        <br/>
        <label th:for="'level'" th:text="'Nivel: '"/>
        <input th:id="'level'" type="number" th:value="${phrase.getLevel()}">
        <br/>
        <button type="button" onclick="save()">
            Grabar Cambios
        </button>
        <button type="button" onclick="openPopUpAlternativePhrases()">
            Mostrar frases similares
        </button>


    </form>

    <div>
        <table>
            <tr>
                <th>
                    Palabra
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Inflexión
                </th>
                <th>
                    Etiqueta
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            <tr>
                <td>
                    <select th:id="'newWord'">
                        <option th:each="word : ${phrase.getPhrase().split(' ')}"
                                th:value="${word}"
                                th:text="${word}">
                        </option>
                    </select>
                </td>
                <td>
                    <select th:id="'category0'" th:value="''" th:onchange="'reloadPatterns(0);'">
                        <option value = "0" th:text="''"/>
                        <option th:each="category : ${categories}"
                                th:value="${category.getId()}"
                                th:text="${category.getName()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select th:id="'inflection0'">
                        <option value = "" th:text="''"/>
                    </select>
                </td>
                <td>
                    <select th:id="'tag0'" th:value="''">
                        <option value = "0" th:text="''"/>
                        <option th:each="tag : ${tags}"
                                th:value="${tag.getId()}"
                                th:text="${tag.getTag()}">
                        </option>
                    </select>
                </td>
                <td>
                    <button onclick="createRule()">
                        Añadir
                    </button>
                </td>
            </tr>
            <tr th:each="rule :${phrase.getSubstitutionRules()}" th:id="'row' + ${rule.getId()}">
                <td >
                    <input th:id="'id' + ${rule.getId()}" type="hidden" th:value="${rule.getId()}">
                    <select th:id="'word' + ${rule.getId()}" th:onchange="'activateRuleButton(' + ${rule.getId()} + ')'" th:value="${rule.getWord()}">
                        <option th:each="word : ${phrase.getPhrase().split(' ')}"
                                th:value="${word}"
                                th:text="${word}"
                                th:selected="${word} == ${rule.getWord()}">
                        </option>
                    </select>
                </td>
                <td >
                    <select th:id="'category' + ${rule.getId()}" th:onchange="'reloadPatterns(' + ${rule.getId()} + ');' + 'activateRuleButton(' + ${rule.getId()} + ')'" th:value="${rule.getCategory().getId()}">
                        <option value = "0" th:text="''"/>
                        <option th:each="category : ${categories}"
                                th:value="${category.getId()}"
                                th:text="${category.getName()}"
                                th:selected="${category} == ${rule.getCategory()}">
                        </option>
                    </select>
                </td>
                <td >
                    <select th:id="'inflection' + ${rule.getId()}" th:onchange="'activateRuleButton(' + ${rule.getId()} + ')'">
                        <option value = "" th:text="''"/>
                        <option th:each="inflection : ${rule.getCategory().getInflectionsNames()}"
                                th:value="${inflection}"
                                th:text="${inflection}"
                                th:selected="${inflection} == ${rule.getInflectionName()}">
                        </option>
                    </select>
                </td>
                <td >
                    <select th:id="'tag' + ${rule.getId()}" th:onchange="'activateRuleButton(' + ${rule.getId()} + ')'">
                        <option value = "0" th:text="''"/>
                        <option th:each="tag : ${tags}"
                                th:value="${tag.getId()}"
                                th:text="${tag.getTag()}"
                                th:selected="${tag} == ${rule.getTag()}">
                        </option>
                    </select>
                </td>
                <td>
                    <button th:id="'saveRule' + ${rule.getId()}" th:onclick="'updateRule(' + ${rule.getId()} + ')'" th:disabled="'disabled'">
                        Grabar Cambios
                    </button>
                    <button th:onclick="'deleteRule(' + ${rule.getId()} + ')'">
                        Eliminar
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    async function save(){

        const phrase = document.getElementById("phrase").value;
        const meaning = document.getElementById("meaning").value;
        const level = document.getElementById("level").value;
        const id = document.getElementById("id").value;
        const response = await fetch('http://localhost:8081/phrases/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                phrase: phrase,
                meaning: meaning,
                level: level,
                id: id
            })
        });

        if (response.ok){
            alert("Se ha modificado correctamente");
            window.location.reload();
        } else {
            alert("No se ha podido modificar la frase");
        }

    }

    async function createRule(){
        const category = document.getElementById("category0").value;
        const inflection = document.getElementById("inflection0").value;
        const word = document.getElementById("newWord").value;
        const id = document.getElementById("id").value;
        const tag = document.getElementById("tag0").value;
        const response = await fetch('http://localhost:8081/substitution-rules/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                word: word,
                inflectionName: inflection,
                phraseId: id,
                categoryId: category,
                tagId: tag
            })
        })

        if (response.ok){
            window.location.reload();
        } else {
            alert("No se ha podido guardar la regla de sustitución");
        }

    }

    async function updateRule(id){
        const category = document.getElementById("category" + id).value;
        const inflection = document.getElementById("inflection" + id).value;
        const word = document.getElementById("word" + id).value;
        const tag = document.getElementById("tag" + id).value;
        const response = await fetch('http://localhost:8081/substitution-rules/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                word: word,
                inflectionName: inflection,
                categoryId: category,
                tagId: tag
            })
        });

        if (response.ok){
            alert("Se ha modificado correctamente");
            deactivateButton("saveRule" + id);
        } else {
            alert("No se ha podido modificar")
        }
    }

    async function deleteRule(id){
        if (confirm("Está seguro de que quiere eliminar la regla de sustitución?")) {
            const response = await fetch('http://localhost:8081/substitution-rules/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                })
            });
            if (response.ok){
                alert("Se ha eliminado correctamente");
                document.getElementById("row"+id).remove();

            } else {
                alert("No se ha podido eliminar la regla de sustitución. Error: " + response.status)
            }
        }
    }

    async function reloadPatterns(id){

        const categoryId = document.getElementById("category" + id).value;

        const response = await fetch('http://localhost:8081/categories/detail/' + categoryId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        if (response.ok){
            const category = await response.json();
            loadPatterns(category.inflectionsNames, id);
        } else {
            loadPatterns([], id);
        }
    }


    function loadPatterns(inflections, id){
        const select = document.getElementById('inflection' + id);
        select.innerHTML="";
        inflections.forEach(function (inflection){
            const option = document.createElement("option");
            option.value = inflection;
            option.text = inflection;
            select.appendChild(option);
        });
    }

    async function openPopUpAlternativePhrases() {
        const phraseId = document.getElementById("id").value;
        const response = await fetch('http://localhost:8081/substitution-rules/alt/' + phraseId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        if (response.ok){
            const phrases = await response.json();
            let modal = document.getElementById('modalBody');
            phrases.forEach(function (phrase){
                const container = document.createElement("div");
                container.textContent = phrase;
                modal.appendChild(container);
            });
            let myModal = new bootstrap.Modal(document.getElementById('infoModal'));
            myModal.show();
        } else {
            alert("No se ha podido recuperar la información, inténtelo más tarde");
        }
    }

    function activateRuleButton(id){
        const button = document.getElementById("saveRule" + id);
        button.disabled = false;
    }

    function deactivateButton(id){
        const button = document.getElementById(id);
        button.disabled = true;
    }

    function volver(){
        const deck = document.getElementById("deckId").value;
        const user = document.getElementById("loggedUser").value;
        window.location.href = "/manage/" + user + "/decks/" + deck + "?tab=phrases";
    }

</script>

</body>
</html>