<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>ETIQUETAS</h2>
    <table>
        <tr>
           <th>
               Etiqueta
           </th>
            <th>
                Acciones
            </th>
        </tr>
        <tr>
            <td>
                <input id="newTag" type="text"/>
                <input id="loggedUser" type="hidden" th:value="${user}">
            </td>
            <td>
                <button onclick="saveTag()">
                    Guardar
                </button>
            </td>
        </tr>
        <tr th:each="tag:${tags}" >
            <td th:text="${tag.getTag()}"></td>
            <td>
                <button>
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
    <script>
        function saveTag(){

            const tag = document.getElementById("newTag").value;
            const user = document.getElementById("loggedUser").value;
            alert("Se va a guardar la etiqueta " +  tag + " para " + user)
            fetch('/localhost:8081/tags/new/' + user, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tag: tag
                })
            }).then(window.location.reload);
        }
    </script>
</body>
</html>