<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Listado de Etiquetas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class = "container">
    <h1>Listado de Etiquetas</h1>
    <input id="loggedUser" type="hidden" th:value="${user}">
    <table>
        <tr>
           <th>
               Etiqueta
           </th>
            <th>
                Acciones
            </th>
        </tr>
        <tr>
            <td>
                <input id="newTag" type="text"/>

            </td>
            <td>
                <button onclick="createTag()">
                    Guardar
                </button>
            </td>
        </tr>
        <tr th:each="tag:${tags}" th:id="'row' + ${tag.getId()}">
            <td>
                <input th:id="'id' + ${tag.getId()}" type = "hidden" th:value="${tag.getId()}"/>
                <input th:id="'tag' + ${tag.getId()}" type="text" th:value="${tag.getTag()}" th:onchange="'activateButton(' + ${tag.getId()} + ')'"/>
            </td>
            <td>
                <button th:id="'saveTag' + ${tag.getId()}" th:onclick="'saveTag(' + ${tag.getId()} + ')'" th:disabled="'disabled'">
                    Grabar Cambios
                </button>
                <button th:onclick="'deleteTag(' + ${tag.id} + ')'">
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
</div>
    <script>
        async function createTag(){
            const tag = document.getElementById("newTag").value;
            const user = document.getElementById("loggedUser").value;
            const response = await fetch('http://localhost:8081/tags/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tag: tag,
                    ownerId: user
                })
            })

            if (response.ok){
                window.location.reload()
            } else {
                alert("No se ha podido crear la etiqueta")
            }

        }

        async function saveTag(id){
            const tag = document.getElementById("tag" + id).value;
            const response = await fetch('http://localhost:8081/tags/update', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tag: tag,
                    id: id
                })
            })
            if (response.ok){
                deactivateButton(id)
                alert("Se ha guardado correctamente")
            } else {
                alert("No se ha podido guardar la etiqueta")
            }

        }

        async function deleteTag(id) {
            if (confirm("Está seguro de que quiere borrar la etiqueta?")) {

                const response = await fetch('http://localhost:8081/tags/delete', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: id
                    })
                })
                if (response.ok) {
                    document.getElementById("row" + id).remove();
                    alert("Se ha eliminado la etiqueta correctamente")
                } else {
                    alert("No se ha podido eliminar la etiqueta")
                }
            }

        }

        function activateButton(id){
            const button = document.getElementById("saveTag" + id);
            button.disabled = false;
        }

        function deactivateButton(id){
            const button = document.getElementById("saveTag" + id);
            button.disabled = true;
        }


    </script>
</body>
</html>