<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>ETIQUETAS</h2>
    <input id="loggedUser" type="hidden" th:value="${user}">
    <table>
        <tr>
           <th>
               Etiqueta
           </th>
            <th>
                Acciones
            </th>
        </tr>
        <tr>
            <td>
                <input id="newTag" type="text"/>

            </td>
            <td>
                <button onclick="saveTag()">
                    Guardar
                </button>
            </td>
        </tr>
        <tr th:each="tag:${tags}" >
            <td th:text="${tag.getTag()}"/>
            <td>
                <button th:onclick="'deleteTag(' + ${tag.id} + ')'">
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
    <script>
        async function saveTag(){

            const tag = document.getElementById("newTag").value;
            const user = document.getElementById("loggedUser").value;
            const response = await fetch('http://localhost:8081/tags/new/' + user, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tag: tag
                })
            })

            if (response.ok){
                window.location.reload()
            } else {
                alert("No se ha podido crear la etiqueta")
            }

        }

        async function deleteTag(tag){
            const response = await fetch('http://localhost:8081/tags/delete/' + tag, {
                method: 'DELETE',
            })
            if (response.ok){
                window.location.reload()
            } else {
                alert("No se ha podido eliminar la etiqueta")
            }

        }
    </script>
</body>
</html>