<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Detalle de Palabra</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="specialContainer">
    <div class="box">



    <h1>Detalle de Palabra</h1>
        <form th:object="${word}">
        <input th:id="'deckId'" type="hidden" th:value="${deckId}">
        <input th:id="'wordId'" type="hidden" th:value="${word.getId()}">
        <input th:id="'userId'" type="hidden" th:value="${user}">
        <label th:for="'word'" th:text="'Nombre: '"/>
        <input th:id="'word'" th:type="text" th:field="*{word}">
        <br/>
        <label th:for="'significado'" th:text="'Significado: '"/>
        <input th:id="'significado'" th:type="text" th:field="*{meaning}">
        <br/>
        <label th:for="'level'" th:text="'Nivel: '"/>
        <input th:id="'level'" type="number" th:field="*{level}">
        <br/>
        <label th:for="'categoria'" th:text="'Categoría: '"/>
        <select th:id="'categoria'" onchange="reloadPatterns()">
            <option value = "0" th:text="''"/>
            <option th:each="category : ${categories}"
                    th:value="${category.getId()}"
                    th:text="${category.getName()}"
                    th:selected="${category == word.getCategory()}">
            </option>
        </select>
        <br/>
        <label th:for="'pattern'" th:text="'Patrón: '"/>
        <select th:id="'pattern'">
            <option value = "0" th:text="''"/>
            <option th:each="pattern : ${patterns}"
                    th:value="${pattern.getId()}"
                    th:text="${pattern.getName()}"
                    th:selected="${pattern == word.getPattern()}">
            </option>
        </select>
        <br/>
        <label th:for="'tag'" th:text="'Etiqueta: '"/>
        <select th:id="'tag'">
            <option value = "0" th:text="''"/>
            <option th:each="tag : ${tags}"
                    th:value="${tag.getId()}"
                    th:text="${tag.getTag()}"
                    th:selected="${tag == word.getTag()}">
            </option>
        </select>
    </form>

    <button onclick="save()">
        Guardar
    </button>
    </div>

    <div class="box" th:if="${word.getId() != null}">
        <h3>
            Inflexiones
        </h3>
        <table>
            <tr>
                <th>
                    Nombre de Inflexión
                </th>
                <th>
                    Forma
                </th>
            </tr>
            <tr th:each="inflection:${inflections.entrySet()}" >
                <td th:text="${inflection.getKey()}"></td>
                <td th:text="${inflection.getValue()}"></td>
            </tr>
        </table>
    </div>
</div>



<script>
    async function reloadPatterns(){

        const id = document.getElementById("categoria").value;
        const response = await fetch('http://localhost:8081/categories/detail/' + id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        if (response.ok){
            const category = await response.json();
            loadPatterns(category.patterns);
        } else {
            loadPatterns([]);
        }

    }

    function loadPatterns(patterns){
        const select = document.getElementById("pattern");
        select.innerHTML="";
        const option0 = document.createElement("option");
        option0.value = "0";
        option0.text = "";
        select.appendChild(option0);
        patterns.forEach(function (pattern){
            const option = document.createElement("option");
            option.value = pattern.id;
            option.text = pattern.name;
            select.appendChild(option);
        });
    }

    async function save(){

        const word = document.getElementById("word").value;
        const id = document.getElementById("wordId").value;
        const meaning = document.getElementById("significado").value;
        const category = document.getElementById("categoria").value;
        const level = document.getElementById("level").value;
        const pattern = document.getElementById("pattern").value;
        const tag = document.getElementById("tag").value;
        const response = await fetch('http://localhost:8081/words/update', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                word: word,
                meaning: meaning,
                level: level,
                categoryId: category,
                patternId: pattern,
                tagId: tag
            })
        });

        if (response.ok){
            const word = await response.json();
            const user = document.getElementById("userId").value;
            window.location.href = "/manage/" + user  + "/words/detail/" + word.id;
        } else {
            alert("No se ha podido modificar la palabra")
        }

    }

    function volver(){
        const deck = document.getElementById("deckId").value;
        const user = document.getElementById("userId").value;
        window.location.href = "/manage/" + user + "/decks/" + deck + "?tab=words";
    }
</script>
</body>
</html>